button {
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 5px;
    height: 40px;
}

button.btn-blue {
    background-color: #4c5ee1;

}

button.btn-blue:hover {
    background-color: #0000FF;

}

button.btn-pink {
    background-color: #CC99CC;

}

button.btn-pink:hover {
  background-color: #ec4eec;
}


button.btn-yellow {
    background-color: #e7e768;

}

button.btn-yellow:hover {
  background-color: #FFFF00

}

button.btn-green {
    background-color:#5AC18E;

}

button.btn-green:hover {
    background-color:#00ff81;

}

body{
  background-color: #aaaaaa;

}

table {
  width: 60%;
  margin-left: 20%;
  margin-top: 50px;
  background-color: #FFFFFF;
  border:1px solid #666666;
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid #ffffff;
}

tbody>tr:hover{
  background-color: #aaaaaa;

}

tbody > tr > tr:last-child {
  text-align: right;

}

thead {
  background-color: #ec4eec;

}

tbody > tr:nth-child(even) {
    background-color: #bbbbbb;
}
